.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  border-radius: 5px;
  font-family: sans-serif;

  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    z-index: 1;
  }
}

.search {
  &__input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 400px;
    outline: none;
  }

  &__button {
    padding: 10px 20px;
    background-color: #3888f0;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    &:hover {
      background-color: #0b5dc9;
    }
  }
}

.filter {
  display: flex;
  align-items: center;
  column-gap: 30px;

  &__price {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }

  &__price-label {
    font-size: 14px;
    color: #888;
  }

  &__price-range {
    width: 100%;
    cursor: pointer;
  }

  &__price-value {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2px;
  }

  &__size {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }

  &__size-label {
    display: block;
    font-size: 16px;
    font-weight: bold;
  }

  &__size-select {
    outline: none;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
  }
}

.product {
  display: block;
  margin-bottom: 20px;
}

.product-container {
  min-height: 560px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 20px;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  padding: 8px 12px;
  margin-right: 5px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-button:hover {
  background-color: #eaeaea;
}

.pagination-button:active {
  transform: scale(0.9);
}

.pagination-button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.product-card {
  background-color: #fcfcfc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  transition: all 0.3s ease 0s;
  overflow: hidden;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.product-card__image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-card__name {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.product-card__price {
  font-size: 16px;
  margin-top: 5px;
}

.product-card__size {
  font-size: 14px;
  color: #888;
  margin-top: 5px;
}

.dark .container {
  background-color: #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease 0s;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  }
}

.dark .search__input {
  border: 1px solid #888;
}

.dark .search__button {
  background-color: #3888f0;
  color: white;

  &:hover {
    background-color: #0b5dc9;
  }
}

.dark .filter__price-label {
  color: #fff;
}

.dark .filter__price-range {
  color: #fff;
}

.dark .filter__price-value {
  color: #fff;
}

.dark .filter__size-label {
  color: #fff;
}

.dark .filter__size-select {
  border: 1px solid #888;
}

.dark .product-card {
  background-color: #6b6b6b;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.dark .product-card:hover {
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
}

.dark .product-card__image {
  border-radius: 5px;
}

.dark .product-card__name {
  color: #fff;
}

.dark .product-card__price {
  color: #fff;
}

.dark .product-card__size {
  color: #fff;
}

.dark body{
    background-color: #000;
}

.language{
  position: fixed;
  right: 10px;
  top: 10px;
  font-size: 20px;
}

.theme-toggle {
  top: 10px;
  left: 10px;
  width: 50px;
  height: 25px;
  background-color: #888;
  border-radius: 30px;
  border: none;
  padding: 0;
  position: fixed;
  cursor: pointer;
  transition: background-color 0.3s ease;
  overflow: hidden;
}

.theme-toggle .toggle-slider {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2.4px;
  left: 2.5px;
  transition: transform 0.3s ease;
}

.theme-toggle.dark {
  background-color: #222;
}

.theme-toggle.dark .toggle-slider {
  transform: translateX(25px);
}

@media (max-width: 1215px) {
  .container {
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 30px;
  }

  .filter {
    flex-direction: column;
    row-gap: 10px;

    &__size-select {
      outline: none;
      padding: 8px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 150px;
    }
  }

  .theme-toggle {
    top: 10px;
    left: 10px;
    width: 30px;
    height: 20px;
    background-color: #888;
    border-radius: 30px;
    border: none;
    padding: 0;
    position: fixed;
    cursor: pointer;
    transition: background-color 0.3s ease;
    overflow: hidden;
  }

  .theme-toggle .toggle-slider {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2.4px;
    left: 2.5px;
    transition: transform 0.3s ease;
  }

  .theme-toggle.dark .toggle-slider {
    transform: translateX(10px);
  }
}

@media (max-width: 963px) {
  .container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .search {
    &__input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      width: 200px;
      outline: none;
    }

    &__button {
      padding: 10px 20px;
      background-color: #3888f0;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: all 0.3s ease 0s;

      &:hover {
        background-color: #0b5dc9;
      }
    }
  }
}

@media (max-width: 750px) {
  .container {
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    flex-direction: column;
    row-gap: 20px;
  }
}

@media (max-width: 547px) {

  .container {
    padding: 20px;
    max-width: 250px;
    margin: 0 auto;
    margin-top: 20px;
    
  }
  .search {
    &__input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      width: 130px;
      outline: none;
    }

    &__button {
      padding: 10px 20px;
      background-color: #3888f0;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: all 0.3s ease 0s;

      &:hover {
        background-color: #0b5dc9;
      }
    }
  }
}
